<section class="container">
    <div *ngIf="settingsActice" class="settings-container">
        <button class="{{darkVariable}}" (click)="toggleMode()">
            <img *ngIf="darkMode; else darkModeTemplate" src="icons/DarkMode.png">
            <ng-template #darkModeTemplate>
                <img src="icons/LightMode.png">
            </ng-template>
        </button>
    </div>
    <div class="button-container">
        <button class="dark" (click)="toggleSettings()">
            <div class="lines">
                <div *ngFor="let i of [0, 1, 2]">
                    <hr class="dark">
                </div>
            </div>
        </button>
    </div>
</section>