.container{
    width: 100%;
    height: 100%;
    align-content: center;
    font-size: 30px;
    color: var(--first-color-light);
    transition: background-color 0.3s ease, color 0.3s ease;
    &.light{
        background-color: var(--fifth-color-light);
    } &.dark{
        background-color: var(--fifth-color-dark);
    }
}