.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1.5fr 8fr 1fr;
}
header{
    grid-column: span 2;
}
aside{
    position: relative;
    min-width: 300px;
}
.re-size{
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.1s;
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
        cursor: col-resize;
    }
    &:active{
        background-color: rgba(0, 0, 0, 0.2);
    }
}
footer{
    grid-column: span 2;
}
main{
    position: relative;
}
.settings-button{
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}
@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 6fr 1fr;
    }
    header{
        grid-column: span 1;
    }
    .re-size{
        display: none;
    }
    footer{
        grid-column: span 1;
    }
    main{
        position: relative;
    }
    .settings-button{
        width: auto;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 20px;
    }
}